body{
     background-color: #0a6cf1;
 }
 .container{
     width: 40%;
     position: absolute;
     transform: translate(-50%,-50%);
     left: 50%;
     top: 50%;
 }
 
 .inputs{
     background-color: black;
     padding: 30px 30px;
     border-radius: 8px;
     margin-bottom: 40px;
 }
 #date,
 button{
     height: 50px;
     border-radius: 5px;
     font-weight: 500;
     cursor: pointer;
 }
 #date{
     width: 50%;
     padding: 0 20px;
     font-size: 14px;
 }
 button{
     width: 30%;
     float: right;
 }
 .outputs{
     width: 100%;
     display: flex;
     justify-content: space-between;
 }
 .outputs div{
     height: 60px;
     width: 100px;
     background-color: #080808;
     border-radius: 5px;
     color: white;
     display: grid;
     place-items: center;
     padding: 20px 0;
     font-family: sans-serif;
 }
 span{
     font-size: 30px;
     font-weight: 600;
 }
 p{
     font-size: 15px;
     color: #707070;
 }